<%= simple_form_for(@user_shopping_cart) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :userid %>
    <%= f.input :productid %>
    <%= f.input :isshow %>
    <%= f.input :IsBought %>
    <%= f.input :Title %>
    <%= f.input :Price %>
    <%= f.input :VoucherCode %>
    <%= f.input :Quantity %>
    <%= f.input :OrderId %>
    <%= f.input :TripId %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
