<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @friend_list.UserId %>
</p>

<p>
  <strong>Frienduserid:</strong>
  <%= @friend_list.FriendUserId %>
</p>

<%= link_to 'Edit', edit_friend_list_path(@friend_list) %> |
<%= link_to 'Back', friend_lists_path %>
